* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(219, 219, 211);
  background: linear-gradient(to bottom, #009688 15%, #dbdbd3 15%);
}

#app {
  height: 100vh;
  overflow: hidden;
}

/* Global classes */
.font-w600 {
  font-weight: 600;
}

i {
  cursor: pointer;
}

.action-on-icon {
  padding-left: 15px;
}

.outline-none {
  outline: none;
}

.d-flex {
  display: flex;
}

.b-none {
  border: none;
}

.f-size20 {
  font-size: 20px;
}
/* ------------ */

/* App Container */
.app-container {
  width: 1200px;
  height: 900px;
  background-color: #fafafa;
  margin: 20px auto;
}

.contacts {
  border-right: 0.01em solid #d7d6d6;
  width: 35%;
}

.display-chat {
  background-color: tomato;
  width: 65%;
}
/* ------------- */

/* Personal info */
.user-info {
  background-color: #e9eae9;
  height: 65px;
  width: 100%;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

.possible-actions {
  margin-right: 10px;
  color: #b0b1b1;
}

.info-cont {
  align-items: center;
}

.my-name {
  margin-left: 5px;
}

/* ------------- */

/* User */
.user {
  padding: 10px 20px;
}

.contact-avatar {
  width: 45px;
  border-radius: 50%;
}

.contact-name {
  margin-left: 20px;
}

[class*="contact-name"],
.my-name {
  font-size: 15px;
}
/* ---- */

/* Attiva notifiche */
.notice-banner {
  background-color: #8ddafc;
  height: 70px;
  align-items: center;
  padding-left: 20px;
}

.notice-btn {
  color: #8ddafc;
  background-color: white;
  padding: 10px 8px;
  border-radius: 50%;
  margin-right: 10px;
}

.notice-text {
  cursor: pointer;
}

.n-text-title {
  font-size: 14px;
}

.n-text-subt {
  text-decoration: underline;
}

.n-text-subt,
.last-access {
  padding-top: 5px;
  font-size: 12px;
  color: #7a8184;
}

/* ---------------- */

/* Input */
.input-box {
  padding: 5px;
}

.icon-search {
  align-self: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #b8babc;
}

.search-a-contact {
  width: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 5px;
}

.icon-search,
.search-a-contact {
  padding: 10px;
  background-color: white;
  font-size: 12px;
}

/* ----- */

/* Contact List */
.contact-list {
  border-right: 0.01em solid #e9ebec;
  border-bottom: 0.01em solid #e9ebec;
  height: 80%;
  background-color: white;
  overflow-y: auto;
}
/* ------------ */

/* Right Side */
/* Header chat */
.chat-info-person {
  margin-left: 15px;
}
/* ----------- */
/* Chat Container */
.chat-container {
  height: calc(100% - 130px);
  background-image: url("../img/mine.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  overflow-x: hidden;
  overflow-y: scroll;
}

.right-side {
  align-items: flex-end;
  flex-direction: column;
}

.single-message::after {
  display: table;
  content: "";
  clear: both;
}

.message-item {
  margin: 20px;
  width: max-content;
  padding: 12px;
  border-radius: 10px;
  background-color: #ffffff;
}

.single-message.sent > .message-item {
  background-color: #d6f9ba;
  text-align: end;
  float: right;
}

.date {
  padding-top: 3px;
  text-align: end;
  font-size: 10px;
  color: #bbc3bb;
}

.fa-chevron-down {
  color: #b0b1b1;
  padding-left: 5px;
  font-size: 14px;
}

.menu {
  display: none;
  height: 100px;
  width: 200px;
  text-align: center;
  cursor: pointer;
}

.show-menu {
  display: inline-block;
}
/* -------------- */

/* Message Bar */
.message-bar {
  height: calc(100% - 835px);
  background-color: #f3eee8;
  justify-content: space-around;
  align-items: center;
}

.message-text {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  padding-left: 15px;
}

.audio-message,
.emojis {
  margin: 0 30px;
  color: #6a7376;
}

/* ----------- */
/* ---------- */

/* -------------------------------------------------------------- */
/* Hover */
.user:hover {
  background-color: #e8ebeb;
}

.icon-hover:hover {
  color: #7a8184;
}

.audio-message:hover {
  color: rgb(136, 16, 16);
}

.emojis:hover {
  color: rgb(192, 169, 41);
}
/* ----- */

.clicked {
  background-color: #e8ebeb;
}
