<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boolzapp</title>
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- Icon -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />

    <!-- Day.JS - Libreria -->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>

    <!-- Vue.JS - Sviluppatori  -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="app-container d-flex">
        <div class="contacts">
          <!-- Header my info -->
          <header class="user-info d-flex">
            <div class="info-cont d-flex">
              <img src="img/avatar_8.jpg" alt="" class="contact-avatar" />
              <div class="my-name">Samuel Scozzari</div>
            </div>

            <!-- Actions -->
            <div class="possible-actions d-flex f-size20">
              <div class="action-on-icon icon-hover">
                <i class="fas fa-circle-notch"></i>
              </div>
              <div class="action-on-icon icon-hover">
                <i class="fas fa-comment-alt"></i>
              </div>
              <div class="action-on-icon icon-hover">
                <i class="fas fa-ellipsis-v"></i>
              </div>
            </div>
            <!--  -->
          </header>
          <!--  -->

          <!-- Attiva notifiche -->
          <div class="notice-banner d-flex">
            <div>
              <i class="fas fa-bell-slash notice-btn f-size20"></i>
            </div>
            <div class="notice-text">
              <div class="n-text-title font-w600">
                Ricevi notifiche di nuovi messaggi
              </div>
              <div class="n-text-subt font-w600">Attiva notifiche desktop</div>
            </div>
          </div>
          <!--  -->

          <!-- Input -->
          <div class="input-box d-flex">
            <div class="icon-search b-none">
              <i class="fas fa-search"></i>
            </div>
            <input
              class="search-a-contact outline-none b-none"
              v-model="search"
              type="text"
              placeholder="Cerca o inizia una nuova chat"
            />
          </div>
          <!--  -->

          <!-- Contact-list -->
          <div class="contact-list">
            <div v-for="(person, index) in contacts">
              <!--Single User -->
              <div
                class="user d-flex"
                @click="mostraChat(index), selected = index"
                :class="{clicked:selected == index}"
                v-if="findAPerson(person)"
              >
                <!-- Avatar -->
                <div>
                  <img
                    :src="avatarPic(person)"
                    alt="contact-avatar"
                    class="contact-avatar"
                  />
                </div>
                <!--  -->

                <!-- Name -->
                <div class="contact-name font-w600">{{person.name}}</div>
                <!--  -->
              </div>
              <!--  -->
            </div>
          </div>
          <!--  -->
        </div>

        <div class="display-chat">
          <!-- Header chat -->
          <header class="user-info d-flex">
            <div class="info-cont d-flex">
              <img
                :src="'img/'+ 'avatar' + contacts[contactIndex].avatar + '.jpg'"
                alt=""
                class="contact-avatar"
              />
              <div class="chat-info-person">
                <div class="contact-name-chat font-w600">
                  {{contacts[contactIndex].name}}
                </div>
                <div class="last-access font-w600">
                  Ultimo accesso oggi alle
                </div>
              </div>
            </div>

            <!-- Actions - chat -->
            <div class="possible-actions d-flex f-size20">
              <div class="action-on-icon icon-hover">
                <i class="fas fa-search"></i>
              </div>
              <div class="action-on-icon icon-hover">
                <i class="fas fa-paperclip"></i>
              </div>
              <div class="action-on-icon icon-hover">
                <i class="fas fa-ellipsis-v"></i>
              </div>
            </div>
            <!--  -->
          </header>

          <!-- Right Side Cont -->

          <div class="chat-container">
            <div
              class="single-message"
              v-for="message in contacts[contactIndex].messages"
              :class="message.status"
            >
              <div class="message-item">
                {{message.text}}
                <div class="date">{{message.date}}</div>
              </div>
            </div>
          </div>

          <div class="message-bar d-flex">
            <div class="emojis f-size20">
              <i class="far fa-smile"></i>
            </div>
            <input
              class="message-text outline-none b-none"
              type="text"
              placeholder="Scrivi un messaggio"
              v-model="sendAMsg"
              @keyup.enter="invioUnMex"
            />
            <div class="audio-message f-size20">
              <i class="fas fa-microphone"></i>
            </div>
          </div>
          <!--  -->
          <!--  -->
        </div>
      </div>
    </div>
    <script src="js/vue.js"></script>
  </body>
</html>
